<%= form_with model: movie, local: true, html: {multipart: true} do |f| %>
    <div>
        <%= f.label :title, 'Título' %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :release_year, 'Ano de lançamento' %>
        <%= f.number_field :release_year, min: 1900 %>
    </div>

    <div>
        <%= f.label :synopsis, 'Sinopse' %>
        <%= f.text_area :synopsis %>
    </div>

    <div>
        <%= f.label :country, 'País de origem' %>
        <%= f.text_field :country %>
    </div>

    <div>
        <%= f.label :duration, 'Duração' %>
        <%= f.number_field :duration %>
    </div>
    
    <div>
        <%= f.label :director_id, 'Diretor' %>
        <%= f.collection_select :director_id, Director.all, :id, :name %>
    </div>    

    <div>
        <%= f.label :genre_id, 'Gênero' %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    </div>

    <div>
        <%= f.label :poster, 'Upload poster' %>
        <%= f.file_field :poster %>
    </div>

    <div>
        <%= f.submit 'Salvar' %>
    </div>
<% end %>