<h1><%= @movie.title%></h1>
    <% if @movie.poster.attached? %>
        <%= image_tag @movie.poster, size: "100x150", alt: "#{@movie.title} Poster" %>
    <% end %>
<p><%= @movie.release_year <= Time.current.year ? "Já lançado" : "A ser lançado" %></p><br>

<p>Ano de lançamento: <%= @movie.release_year %> </p>
<p>País de origem: <%= @movie.country %> </p>
<p>Duração: <%= @movie.duration %> minutos </p>
<p>Diretor: <%= @movie.director.name %> </p>
<p>Gênero: <%= @movie.genre.name %> </p>

<p>Sinopse: <%= @movie.synopsis %> </p>

<p> <%= link_to 'Editar', edit_movie_path %> </p>
<p> <%= button_to 'Publicar', publish_movie_path, {method: 'patch'} %>
