<h1><%= @director.name %></h1>

<p>Nacionalidade: <%= @director.nationality %> </p>
<p>Data de nascimento: <%= @director.birth_date %> </p>
<p>Gênero favorito: <%= @director.favorite_genre.name %> </p>

<h2>Filmes dirigidos</h2>
<ul>
    <% @director.movies.each do |movie| %>
        <li> 
            <%= link_to movie do %>
                <% if movie.poster.attached? %>
                    <%= image_tag movie.poster, size: "50x75", alt: "#{movie.title} Poster" %>
                <% end %> <br>

                <%= "#{movie.title}, #{movie.release_year}, #{movie.release_year <= Time.current.year ? 'Já lançado' : 'A ser lançado'}" %>
            <% end %> <br> <br>
        </li>
    <% end %>
</ul>

<p><%= link_to 'Editar', edit_director_path %> </p>

